# Normalize line endings
* text=auto

# Treat data and models as binary
*.svo binary
*.svo2 binary
*.avi binary
*.mp4 binary
*.mkv binary
*.onnx binary
*.engine binary
*.pt binary
*.pth binary
*.weights binary
*.tflite binary
*.trt binary
*.plan binary
*.pb binary
